<footer>
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-xs-12">
          <div class="contact-us-area">
             <h3>Contact Us</h3>
             <h3>Head Office</h3>
             <ul>
              <li>4th Floor JTKC Centre 2159 Chino Roces Ave. (former Pasong Tamo)</li>
              <li>Makati City, Metro Manila  1231 Philippines</li>
              <li>Office Hours: 7:30am – 4pm (Mon – Fri), 9am – 12nn (Sat)</li>
              <li>Office: +63 2 519 5674 to 76 local 328</li>
              <li>Fax# (+632) 403 1999</li>
              <li>Email: yvetteclee@gmail.com or  info@discoveryfleet.com</li>
             </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="newslleter-area">
             <h3>Newsletter</h3>
             <p>Sign up for the latest news and discounted trips</p>
             <form>
              <input type="hidden" name="type" value="subscribe" />
              <fieldset>
                <div class="col-sm-12 acurate">
                  <div class="form-group input-feild">
                    <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                </div> 
                <div class="col-sm-12 acurate">
                  <div class="form-group">
                    <button class="btn-send" type="submit">Subscribe</button>
                  </div>
                </div>
              </fieldset>
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">           
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer-bottom-left">
            <p>© Yvette C. Lee. All rights reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer-bottom-right">
            <ul>
              <li><a href="http://www.facebook.com/sharer.php?u=http://discoveryfleet.com/&title="><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>