<div>
	<div class="section-title">
		<h2>Testimonial</h2>
	</div>
	<div class="testimonial-area">
		<div class="single-testimonial">
			<ul>
				<li><a href="#"><img src="assets/img/testimonial.png" alt="image"></a> </li>
				<li><a href="#">Steve Jones</a></li>
			</ul>
			<p>A very well run ship with exemplary crew - thoroughly professional. One of the best run ships I have been on.</p>
		</div>
		<div class="single-testimonial">
			<ul>
				<li><a href="#"><img src="assets/img/testimonial.png" alt="image"></a> </li>
				<li><a href="#">Adrian Eleazar</a></li>
			</ul>
			<p>Wonderful & efficient service team. Great knowledge of divemasters and very helpful dive support team... </p>
		</div>
	</div>
</div>