<div>
	<div ng-if="route === 'palawan'">
		<h3>Route: Northern Route, Coron - El Nido - Coron, Batangas - Apo Reef - Coron - Batangas, Tubbataha</h3>
		<table class="table table-bordered">
		    <tbody>
		        <tr>
		            <td><strong>Maximum number of guests</strong></td>
		            <td>
		                <p>Tubbataha = 32 divers</p>
		                <p>Northern Route &nbsp;= 16 divers / 24 – 26 non divers</p>
		            </td>
		        </tr>
		        <tr>
		            <td><strong>Satellite Phone</strong></td>
		            <td>Immarsat</td>
		        </tr>
		        <tr>
		            <td><strong>20 rooms</strong></td>
		            <td>
		                <p>16 standard rooms (lower deck) with centralized air conditioning</p>
		                <p>4 upper deck rooms with personal climate control</p>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="2"><strong>Air conditioned salon / camera room, sundeck, 2 shaded decks : dining deck and separate bar deck</strong></td>
		        </tr>
		        <tr>
		            <td><strong>Number of crew</strong></td>
		            <td>20 - 32</td>
		        </tr>
		        <tr>
		            <td><strong>Length overall</strong></td>
		            <td>49.20 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Width overall</strong></td>
		            <td>8.50 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Draft</strong></td>
		            <td>3.20 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Tonnage</strong></td>
		            <td>539 tons (gross), 161 tons (net)</td>
		        </tr>
		        <tr>
		            <td><strong>Maximum cruising speed</strong></td>
		            <td>10 knots</td>
		        </tr>
		        <tr>
		            <td><strong>Electricity</strong></td>
		            <td>220 V</td>
		        </tr>
		        <tr>
		            <td><strong>Class Registry</strong></td>
		            <td>Lloyds Registered</td>
		        </tr>
		        <tr>
		            <td><strong>Diving Equipment</strong></td>
		            <td>Tanks 80cu and 100cu, compressors, 3 chaseboats, nitrox available, medical oxygen onboard. Complete rental equipment.</td>
		        </tr>
		    </tbody>
		</table>
	</div>

	<div ng-if="route === 'adventure'">
		<h3>Route: Tubbataha, Palau</h3>
		<table class="table table-bordered">
		    <tbody>
		        <tr>
		            <td><strong>Maximum number of guests</strong></td>
		            <td>
		                <p> 26 – 30 divers</p>
		            </td>
		        </tr>
		        <tr>
		            <td><strong>Satellite Phone</strong></td>
		            <td>Thuraya XT - Lite</td>
		        </tr>
		        <tr>
		            <td><strong>14 rooms</strong></td>
		            <td>
		                <p>3 lower deck cabins (1 queen bed) = 6 pax</p>
		                <p>4 lower deck cabins (2 queen beds) = 8 pax</p>
		                <p>4 upper deck cabin "main deck" (3 single beds) = 8 to 12 pax [convertible to 1 single bed and 1 king]</p>
		                <p>2 VIP cabins ( 2 single beds) = 4 pax [convertible to 1 king]</p>
		                <p>All rooms with centralized air-conditioning.</p>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="2"><strong>Air conditioned salon / camera room, sundeck, 1 shaded dining deck</strong></td>
		        </tr>
		        <tr>
		            <td><strong>Number of crew</strong></td>
		            <td>20 - 32</td>
		        </tr>
		        <tr>
		            <td><strong>Length overall</strong></td>
		            <td>47 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Width overall</strong></td>
		            <td>8.50 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Draft</strong></td>
		            <td>3.65 meters</td>
		        </tr>
		        <tr>
		            <td><strong>Tonnage</strong></td>
		            <td>395 tons (gross), 166 tons (net)</td>
		        </tr>
		        <tr>
		            <td><strong>Maximum cruising speed</strong></td>
		            <td>7 knots</td>
		        </tr>
		        <tr>
		            <td><strong>Electricity</strong></td>
		            <td>220 V</td>
		        </tr>
		         <tr>
		            <td><strong>Class Registry</strong></td>
		            <td>Filipino Vessels Classification System Assn. Inc.</td>
		        </tr>
		        <tr>
		            <td><strong>Diving Equipment</strong></td>
		            <td>
		                <p>Tanks 80cu and 100cu, compressors, 3 chaseboats,</p>
		                <p>nitrox available, medical oxygen onboard. Complete rental equipment.</p>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>