<div class="single-room-area">
	<style>
		.home-page-room-area .single-room-area p {
		    text-transform: none !important;
		    padding: 10px;
		}
		.home-page-room-area .single-room-area h2 a {
		    text-transform: uppercase !important;
		    padding: 10px;
		}
	</style>
	<div class="feature-image">
		<a href=""><img src="{{image}}" alt="image"></a>
		<div class="overley">											
			<div class="view-room">
				<a href="{{link}}">View</a>
			</div>
		</div>
	</div>
	<h2><a href="#">{{title}}</a></h2>
	<p>{{context}}</p>
</div>